nextflow.enable.dsl = 2

manifest {
  name        = 'AmpliconFlow'
  version     = '1.0.0'
  description = 'A reproducible and scalable workflow for amplicon sequencing analysis'
  author      = 'Glen Jasper'
  gitUrl      = 'https://github.com/glenjasper/AmpliconFlow.git'
  license     = 'MIT'
}

includeConfig 'conf/base.config'
includeConfig 'conf/profiles.config'
