params {
  approach       = 'asv'
  samples_path   = './raw_fastq'
  output_path    = './results'
  database_fasta = ''
  database_type  = ''
  primers_fasta  = ''

  threads   = 10
  min_ovlen = 20
  subset_size = 1000

  maxee = 1
  minlen = 350
  maxlen = 500

  high_identity = 0.99
  cutoff = 0.8

  cluster_identity = 0.97
  blast_identity = 0.97

  quality_check = true
  cut_primers = true

  scripts_path = "${projectDir}/scripts"
}

process {
  executor = 'local'
  cpus = params.threads
  memory = '4 GB'
  time   = '4h'
}
